.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.project
.externalToolBuilders/
*.launch
.classpath
.factorypath
.buildpath
.target
.tern-project
.springBeans
.recommenders/
*.pptx
*.docx
*.ppt
*.pptx
*.xls
*.xlsx
*.pdf
.class
.sql
Servers/
.metadata/
*.txt
build/
WEB-INF/
META-INF/
smarteditor2/
froala/
images/
js/
upload/
login/
jquery.bxslider.css